
header,  #site_content
{ margin-left: auto; 
  margin-right: 0px;}



#site_content
{ width: 478px;
  overflow: hidden;
  margin-bottom: 30px;
 /* background: transparent url(../images/transparent.png) repeat;*/
  } 

.slideshow
{  width: 478px;
  height: 300px;
  margin-left: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px;}  
  
/* style pour le diaporama sur la page d'accueil */
ul.slideshow {
  list-style: none;
  width: 478px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 20px 0 0 0;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 478;}

#slideshow-caption {
  width: 478px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 478;}
 

 
